[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.0.7"
django-import-export = "==1.0.1"
django-mathfilters = "==0.4.0"
django-heroku = "*"
whitenoise = "*"
gunicorn = "*"
dj-database-url = "*"
"psycopg2-binary" = "*"
raven = "*"
boto = "*"

[dev-packages]

[requires]
python_version = "3.6"
