{% extends 'base.html' %}
{% load staticfiles %}

{% block meta_content %}
    <title>{{ category.category_name }} | Basket Compare | UK</title>
    <meta name="description" content="Compare the prices of {{ category.category_name }} across a number of merchants in the UK. ">
{% endblock %}  

{% block css_content %}
<link rel="stylesheet" href='{% static "css/category_landing.css" %}'> 
{% endblock %} 
{% block body_content %}

<!-- Title and Description -->

<div class="container">
    <h1 class="jumbotron-heading mt-3">{{category.category_name}}</h1>
    <p class="lead text-muted">Browse the collection {{category.category_name | lower}} products.</p>
</div>

<!-- Categories -->
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% for subcategory in sub_categories %}
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="card mb-4 box-shadow">
                    <a href="/c/{{subcategory.subcategory_name|lower}}"><img class="card-img-top" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="{{ MEDIA_URL }}category_images/{{subcategory.subcategory_slug}}.png"></a>
                        <div class="card-body">
                            <p class="card-text">{{subcategory.subcategory_name}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <p>{{subcategory.subcategory_description}}</p>
                            </div>
                        </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}