<div class="footer d-xl-none bg-brown text-white">
	<div class="row text-center">
		<div class="col bg-brown-hov border border-light">
			<a class="deco-none w-100 d-block pt-2" href="/favourites">
			<i class="fa fa-star fa-2x mb-1"></i>
			<br>
  			<p class="m-0 f-text">Favourites</p>
  			</a>
  		</div>
		<div class="col bg-brown-hov border border-light">
			<a class="deco-none w-100 d-block pt-2" href="/my-projects">
			<i class="fa fa-th-list fa-2x mb-1"></i>
			<br>
  			<p class="m-0 f-text">My Projects</p>
  			</a>
  		</div>
		<div class="col bg-brown-hov border border-light">
			<a class="deco-none w-100 d-block pt-2" href="/account">
			<i class="fa fa-user fa-2x mb-1"></i>
			<br>
  			<p class="m-0 f-text">My Account</p>
  			</a>
  		</div>

</div>