<div class="footer d-lg-none bg-brown text-white">
	<div class="row text-center">
		<div class="col mt-2">
			<a class="deco-none" href="/favourites">
			<i class="fa fa-star fa-2x mb-1"></i>
			<br>
  			<p class="m-0 f-text">Favourites</p>
  			</a>
  		</div>
		<div class="col mt-2">
			<a class="deco-none" href="/my-projects">
			<i class="fa fa-th-list fa-2x mb-1"></i>
			<br>
  			<p class="m-0 f-text">My Projects</p>
  			</a>
  		</div>
		<div class="col mt-2">
			<a class="deco-none" href="/account">
			<i class="fa fa-user fa-2x mb-1"></i>
			<br>
  			<p class="m-0 f-text">Profile</p>
  			</a>
  		</div>

</div>