<div class="footer d-xl-none bg-brown text-white">
	<div class="row text-center">
		<div class="col bg-brown-hov border border-light p-0">
			<a class="deco-none w-100 d-block pt-1" href="/favourites">
			<i class="fa fa-star fa-1x"></i>
			<br>
  			<p class="m-0 f-text">Favourites</p>
  			</a>
  		</div>
		<div class="col bg-brown-hov border border-light p-0">
			<a class="deco-none w-100 d-block pt-1" href="/my-projects">
			<i class="fa fa-clipboard-list fa-1x"></i>
			<br>
  			<p class="m-0 f-text">My Projects</p>
  			</a>
  		</div>
		<div class="col bg-brown-hov border border-light p-0">
			<a class="deco-none w-100 d-block pt-1 text-center" href="/account">
			<i class="fa fa-user fa-1x"></i>
			<br>
  			<p class="m-0 f-text">My Account</p>
  			</a>
  		</div>

</div>