{% extends 'base.html' %} 
{% load static %}

{% block meta_content %}
    <title>Basket Compare | Compare the prices of building materials | UK</title>
    <meta name="description" content="The UK comparison site for building materials. Helping you get the best price">
{% endblock %}

{% block css_content %}
<link rel="stylesheet" href='{% static "css/home.css" %}'> 
{% endblock %} 
{% block body_content %}

<!-- Jumbotron -->
<div class="home-bg">
    <div class="container h-100 text-center">
        {% if messages %} {% for message in messages %}
        <h1 class="d-block display-4 home-title h-100">{{ message }}</h1> {% endfor %} {% else %}
        <h1 class="d-block display-4 home-title h-100">The UK Comparison Site For Building Materials & Trade Products</h1> 
        {% endif %}
    </div>
</div>

<!--Marketing Content -->

<!-- 2 Features -->
<div class="container marketing">
    <h2 class="text-center display-4 mb-4">What do we do?</h2>

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-sm-6 py-3 border border-3 border-white bg-light text-center">
            <i class="fas fa-pound-sign fa-7x mb-2"></i>
            <h3>1000's of Price Comparisons</h3>
            <p class="d-none d-sm-block">We compare prices of 1000's trade essential products across 8 of the UK's biggest merchants with more to be added soon!</p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-sm-6 py-3 border border-3 border-white bg-light text-center">
            <i class="far fa-clock fa-7x mb-2"></i>
            <h3>Saving You Time and Money</h3>
            <p class="d-none d-sm-block">We know how important saving time is to you when on a job and know that it can be difficult to navigate through merchant websites to find what you want.</p>
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>

<!-- 3 Member Features -->
<div class="container marketing">
    <h2 class="text-center display-4 my-3">Want more?</br><small class="text-muted"> Sign Up For a FREE Account</small></h2>

    <!-- Three columns of text below the carousel -->
    <div class="row bg-yellow-light">
        <div class="col-lg-4 py-3 border border-3 border-white">
            <i class="fa fa-star fa-7x mb-2"></i>
            <h3>Favourites</h3>
            <p>Save a list of 10 of your favourite products so that you always know where to get the best price.</p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4 py-3 border border-3 border-white">
            <i class="fas fa-th-list fa-7x mb-2"></i>
            <h3>Project Lists</h3>
            <p>Build projects with ease and create simple lists for customers.</p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4 py-3 border border-3 border-white">
            <i class="fas fa-map-marker-alt fa-7x mb-2"></i>
            <h3>Location Based Pricing</h3>
            <p>Coming Soon. We know how important local merchants are, so we'll show you pricing relevant to your location.</p>
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
    <div class="text-center">
        <a href="/register/" class="btn btn-success my-5 btn-lg w-50 shadow">Sign Up</a>
    </div>

    < <!--Popular Categories -->
        <div class="container">
            <h2>Popular Categories</h2>
            <div class="album py-2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="card mb-4 shadow">
                                <a href="">
                                    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="" style="height: 225px; width: 100%; display: block;" src="http://www.thecellartrust.org/wp-content/uploads/2016/04/Product-Image-Coming-Soon.png" data-holder-rendered="true">
                                </a>
                                <div class="card-body">
                                    <p class="card-text d-flex justify-content-center">Painting & Decorating</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="card mb-3 shadow">
                                <a href="/category/bricks-blocks">
                                    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="" style="height: 225px; width: 100%; display: block;" src="http://www.thecellartrust.org/wp-content/uploads/2016/04/Product-Image-Coming-Soon.png" data-holder-rendered="true">
                                </a>
                                <div class="card-body">
                                    <p class="card-text d-flex justify-content-center">Bricks & Blocks</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="card mb-3 shadow">
                                <a href="/category/cement-aggregates">
                                    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="" style="height: 225px; width: 100%; display: block;" src="http://www.thecellartrust.org/wp-content/uploads/2016/04/Product-Image-Coming-Soon.png" data-holder-rendered="true">
                                </a>
                                <div class="card-body">
                                    <p class="card-text d-flex justify-content-center">Cement & Aggregates</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="card mb-3 shadow">
                                <a href="/category/cement-aggregates">
                                    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="" style="height: 225px; width: 100%; display: block;" src="http://www.thecellartrust.org/wp-content/uploads/2016/04/Product-Image-Coming-Soon.png" data-holder-rendered="true">
                                </a>
                                <div class="card-body">
                                    <a href="/category/cement-aggregates" <p class="card-text d-flex justify-content-center">Cement & Aggregates</a>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
</div>
</div>


{% endblock %}