h1 {
	text-align:center;
	margin-top:1em;
	margin-bottom:0.2em;
}

.breadcrumb {
	background-color:white;
}



/* Price Table
-------------------------------------------------- */

.exVat {
    display:none;
}

.table thead th {
    border-bottom: 0px solid #dee2e6;
}

td { 
    word-wrap:break-word;

}

.merchant-logo {
    text-align:center;
}

.merchant-logo img {
    border: solid 3px #bfbfbf;
    border-radius: 1em;

}

.right-arrow {
    font-size: 36px;
}

/* Buttons
-------------------------------------------------- */

.fixed-button {
    width: 170px;
}