{% extends 'base.html' %} 
{% load staticfiles %}

{% block meta_content %}
    <title>My Account | Basket Compare | UK</title>
    <meta name="description" content="Log in to your account in order to see your favourites, project lists and details">
{% endblock %}

{% block css_content %} 
{% endblock %} 
{% block body_content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-3 mt-3 ">
            <div class="list-group ">
                <a href="/account" class="list-group-item list-group-item-action"><i class="fa fa-user"></i> My Account</a>
                <a href="/favourites" class="list-group-item list-group-item-action"><i class="fa fa-star"></i> Favourites</a>
                <a href="/my-projects" class="list-group-item list-group-item-action active"><i class="fas fa-th-list"></i> My Projects</a>

            </div>
        </div>
        <div class="col-md-9 mt-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Create Project</h4>
                            <hr>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <form class="form" method="post" action="{% url 'create_project' %}">
                                {% csrf_token %}
                                {{ form }}
                                <button type="submit" name="create-project" class="btn btn-success my-3"><i class="fas fa-plus"></i> Create Project</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}