{% extends 'base.html' %}
{% load staticfiles %}

{% block meta_content %}
    <title>My Favourites | Basket Compare | UK</title>
    <meta name="description" content="Log in to your account in order to see your favourites products and their latest prices.">
{% endblock %}

{% block css_content %}
{% endblock %}
{% block body_content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-3 mt-3 ">
            <div class="list-group ">
                <a href="/account" class="list-group-item list-group-item-action"><i class="fa fa-user"></i> My Account</a>
                <a href="/favourites" class="list-group-item list-group-item-action active"><i class="fa fa-star"></i> Favourites</a>
                <a href="#" class="list-group-item list-group-item-action"><i class="fas fa-th-list"></i> Project List</a>

            </div>
        </div>
        <div class="col-md-9 card mt-3">
        <div class="table-responsive mt-3">
        <table id="comparison-table" class="table tablesorter">
            <thead>
                <tr>
                    <th class="product-image"></th>
                    <th class="description">Description</th>
                    <th class="best-price text-center">Best Price</th>
                    <th class="remove"></th>
                </tr>
            </thead>
            <tbody>
                {% if favourites %} 
                {% for product in favourites %}
                <tr>
                    <td class="product-image"><img src="/media/blue-circle.jpg" height=70 width=70></td>
                    <td class="description"><a href="/{{product.product_slug}}/p/{{product.bc_sku}}">{{ product.product_description }}</a></td>
                    <td class="min-price text-success text-center font-weight-bold fs-13">£{{ product.min_price }}</td>
                    <td class="rubbish">
                        <form class="form" method="post" action="{% url 'favourites' %}">
                            {% csrf_token %}
                            <input type="hidden" name="bc_sku" value="{{ product.bc_sku}}">
                            <button type="submit" name="removefromfavourites"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </td>
                </tr>
                {% endfor %} 
                {% endif %}
            </tbody>
        </table>
    {% if not favourites %}
    <div class="container">
    <h3 class="text-center lead mt-3">You currently have no products in your favourites</h2>
    </div>
    {% endif %}
    </div>
</div>
</div>
</div>



{% endblock %}