{% extends 'base.html' %}
{% load staticfiles %}

{% block meta_content %}
{% endblock %}

{% block css_content %}
{% endblock %}
{% block body_content %}



<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-9">
            {% if validlink %}
            <form class="form mt-5" method="post">
                {% csrf_token %}
                <img class="mb-4" src="/media/bc_short_logo.png" alt="" width="110" height="90">
                <h2 class="h3 mb-3 font-weight-normal">Enter New Password</h2>
                <p>Please enter your new password twice so we can verify you typed it in correctly</p>
                {{ form.new_password1.errors }} 
                <label for="id_new_password1" class="">New Password</label>
                {{ form.new_password1 }}
                {{ form.new_password2.errors }}
                <label for="id_new_password1" class="">Confirm Password</label>
                {{ form.new_password2 }}
                <button class="btn btn-dark btn-block mt-4" value="Change My Password" type="submit">Change My Password</button>
                {% else %}
                <p class="mt-5">The password reset link was invalid, possibly because it has already been used.  Please request a new password reset by going back to login.</p>
                <a href ="/login" >
                <button class="btn btn-success btn-block mt-4" onclick="location.href='/login" value="Back To Login" type="button">Back To Login</button>
                </a>
                {% endif %}
                <p class="mt-5 mb-3 text-muted">&copy; Basket Compare 2018</p>
            </form>
        </div>
    </div>
</div>

{% endblock %}
