{% extends 'base.html' %}
{% load staticfiles %}

{% block meta_content %}
{% endblock %}

{% block css_content %}
{% endblock %}
{% block body_content %}

<div class="container text-center mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-9">
            <p class="my-5">Your new password has been set.  You may go ahead and log in now</p>
			<button class="btn btn-success btn-block mt-4" onclick="location.href='/login'" value="Back To Login" type="button">Login</button>
			<p class="mt-5 mb-3 text-muted">&copy; Basket Compare 2018</p>
        </div>
    </div>
</div>









{% endblock %}
