{% extends 'base.html' %} 
{% load staticfiles %}

{% block meta_content %}
    <title>Project | Basket Compare | UK</title>
    <meta name="description" content="Log in to your account in order to see your favourites, project lists and details">
{% endblock %}

{% block css_content %} 
{% endblock %} 
{% block body_content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-3 mt-3 d-none d-xl-block ">
            <div class="list-group ">
                <a href="/account" class="list-group-item list-group-item-action bg-brown-hov"><i class="fa fa-user"></i> My Account</a>
                <a href="/favourites" class="list-group-item list-group-item-action bg-brown-hov"><i class="fa fa-star"></i> Favourites</a>
                <a href="/my-projects" class="list-group-item active-brown text-white-hov bg-brown-hov"><i class="fas fa-th-list"></i> My Projects</a>

            </div>
        </div>
        <div class="col-md-9 mt-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Insert Title of Page Here -->
                            <h4>{{ project.name|title }} </h4>
                            <!--  -->
                            <hr>
                            <h1>{{ master_item.product_description }}</h1>
                            <h2>Merchant Count : {{project.merchants.all.count}}</h2>
                            <h3>Items Count: {{project_items.count}}</h3>
                            <p>{{ rows }}</p>
                            <p> {{ jake }} </p>
                            <div class="table-responsive">
                                <table id="project-table" class="table tablesorter">
                                    <thead>
                                        <tr>
                                            <th class="product-count"></th>
                                            <th class ="product-image"></th>
                                            <th class="w-25">Product</th>
                                            <th>Quantity</th>
                                            {% for header in headers %}
                                            <th class="merchant-logo"><img class="d-block mx-auto mb-1 shadow-sm" src="{{ MEDIA_URL }}merchant_logos/{{ header }}.png" height=50 width=50>
                                            {% endfor %}
                                            </th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for row in rows %}
                                        <tr>
                                            <td></td>
                                            <td class="text-center">{{ forloop.counter }}</td>
                                            {% for item in row %}
                                            <td class="text-center">{{ item }}</td>
                                            {% endfor %}
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            
                            
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <!-- Insert Page Content Here -->

                            <!--  -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}