{% extends 'base.html' %} 
{% load static %}

{% block meta_content %}
{% endblock %}

{% block css_content %}
{% endblock %}

{% block body_content %}

<div class="container">
	<div class="col-6">
	<h1>404</h1>
	<h2>We couldn't find that page</h2>
	<p>Sorry, but the page you are looking for was either not found or does not exist. <br/>
            Try refreshing the page or click the button below to go back to the Homepage</p>
    <button class="btn btn-primary">Homepage</button>
</div>
</div>


{% endblock %}