body {
    padding-top: 58px;
  }

/* Navigation
-------------------------------------------------- */

.dropdown-toggle::after {
	display:none;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.nav-item {
	text-align:center;
}

.dropdown-menu{
    margin-top: 0!important;
}

.project-list {
  color: white !important;
}

.navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute !important;
}

.navbar-toggler {
  border: 0px solid black !important;
}

@media screen and (max-width: 768px) {
  .second-nav {
    position: fixed!important;
  }
}

/* Search Bar
-------------------------------------------------- */
.search-bar {
  width: 63%!important;
}

.search-input {
  width: 79%!important;
}

/* Footer
-------------------------------------------------- */

.page-footer {
    background-color: #343a40;
    color: white;
}

.footer-copyright {
	background-color:white;
	color: #343a40;
}

footer {
  padding-top: ;
  padding-bottom: ;

}

.footer-link a {
	color: white;
}


/* Extra Bootstraps
-------------------------------------------------- */

.border-3 {
    border-width:3px !important;
}

.bg-yellow-light {
  background-color: #ffc1071f!important;
}

.border-grey-1 {
  border: 1px solid #e6e6e6;
}

.ml-auto {
  margin-left: auto!important;
}

.fs-13 {
  font-size: 1.3rem;
}

.bg-beige {
  background-color: #f9ebe2;
}

.fs-12px {
  font-size: 12px;
}

.position-inherit {
  position: inherit!important;
}

.z-1500 {
  z-index: 1500;
}

.z-1600 {
  z-index: 1600;
}

.w-10 {
  width: 10%!important;
}

.w-12-5 {
  width: 12.5%!important;
}

.text-gold {
  color:  #FFD700;
}